@tailwind base;

@layer base {
    body {
        @apply font-sans;
    }

    code {
        @apply font-mono;
    }
    
    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }
    
    a {
        @apply no-underline;
    }
    
    .link-underline {
        @apply underline underline-offset-4;
    }
    
    .selected {
        @apply link-underline;
    }
    
    .top-h2 {
        @apply my-4 font-bold;
    }
}

@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    background-color: #fafafa;
}

a {
    word-break: break-all;
} 

p {
    word-break: break-word;
} 

hr {
    border: 0.5px;
    border-style: dashed dotted;
    opacity: 0.8;
}

svg {
    fill: currentColor;
}

.hashtag::before {
    content: "#"
}

.header-title::before, 
.header-title::after {
    content: "\"";
}

/* Code: Syntax Highlight */

pre code .keyword {
    color: #f92672;
}

pre code .type {
    color: #a6e22e;
}

pre code .call {
    color: #fd971f;
}

pre code .property {
    color: #66d9ef;
}

pre code .number {
    color: #ae81ff;
}

pre code .string {
    color: #e6db74;
}

pre code .comment {
    color: #75715e;
}

pre code .preprocessing {
    color: #ae81ff;
}

pre code .dotAccess {
    color: #5dd8ff;
}

@media (prefers-color-scheme: dark) {
    html, body {
        height: 100%;
        background-color: #18181b; /* bg-zinc-900 */
    }
}
