:root {
    --primary-color: #ddd;
    --background-color: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: PingFang SC, Microsoft YaHei, Helvetica;
    font-weight: 200;
    line-height: 1.8em;
    text-align: center;
}

.wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header .wrapper {
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
}

header a {
    overflow: hidden;
    text-decoration: none;
}

header .site-name {
    float: left;
    display: block;
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
}

nav {
    float: right;
    display: block;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin: 20px 0;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
    font-size: 1.75em;
}

p {
    margin: 20px 0;
}

a {
    color: inherit;
}

.content > ul, ol {
    margin-left: 36px;
}

hr {
    border: 0.5px #8c8c8c;
    border-style: dashed dotted;
    opacity: 0.8;
    margin: 20px 0;
}

.content > img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

footer {
    color: #8a8a8a;
    font-weight: 400;
}

.description {
    margin-bottom: 40px;
}

/* Item List */

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

/* Tag */

.tag-list {
    margin-left: 0;
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: var(--primary-color);
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.content > h1 {
    color: #50a762;
}

.content > li {
    margin-bottom: 10px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

/* Round Button */

.round-btn-container {
    overflow: hidden;
}

.round-btn-container > a {
    float: right;
    background-color: var(--primary-color);
    border: none;
    color: var(--background-color);
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    padding: 12px 16px;
    margin: 20px 0 0;
    border-radius: 8px;
    display: block;
}

/* Table */

table {
    border-collapse: collapse;
    margin-top: 16px 0;
    min-width: 36%;
    max-width: 100%;
}

table, th, td {
    border: 1px #4a4a4a;
    border-style: solid;
    padding: 6px;
}

table thead {
    background-color: #3a3a3a;
    opacity: 0.8;
    text-align: center;
}

/* Groupped Item List */

.group-item-list {
    margin-left: 20px;
}

.section-wrapper > ul, ol, li {
    list-style-type: none;
}

/* Code: Syntax Highlight */

pre {
    margin-bottom: 1.5em;
    background-color: #272b2f;
    padding: 16px 0;
    border-radius: 8px;
}

code {
    background-color: #333;
    opacity: 0.8;
    font-family: Menlo, Monaco, monospace;
    color: #a6b2c0;
    padding: 2px 4px;
    border-radius: 4px;
}

pre code {
    background-color: #272b2f;
    font-family: Menlo, Monaco, monospace;
    display: block;
    padding: 0 20px;
    color: #a6b2c0;
    line-height: 1.414em;
    border-radius: 0;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: #c679dd;
}

pre code .type {
    color: #5dd8ff;
}

pre code .call {
    color: #61aeef;
}

pre code .property {
    color: #df6a73;
}

pre code .number {
    color: #d2945d;
}

pre code .string {
    color: #90c378;
}

pre code .comment {
    color: #59626f;
}

pre code .preprocessing {
    color: #ae80ff;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color);
    }

    body,
    header .site-name {
        color: var(--primary-color);
    }

    .item-list > li {
        background-color: #333;
    }
}

@media(max-width: 768px) {
    .wrapper {
        padding: 40px 20px;
    }

    header .wrapper {
        max-width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    header .site-name {
        display: flex;
        justify-content: center;
        float: none;
    }

    nav {
        display: flex;
        justify-content: center;
        float: none;
    }
}
